<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--	CREATE TABLE `t_sys_user` (
  `user_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '主键',
  `username` varchar(64) NOT NULL COMMENT '用户名',
  `password` varchar(255) NOT NULL COMMENT '密码',
  `create_date` datetime DEFAULT NULL COMMENT '创建时间',
  `expire_date` datetime DEFAULT NULL COMMENT '过期时间',
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;-->

<mapper namespace="org.example.mapper.SysUserMapper">
	<resultMap id="sysUserVo" type="org.example.domain.SysUser">
		<id column="user_id" property="userId" javaType="long" jdbcType="INTEGER"></id>
		<result column="username" property="username" javaType="string" jdbcType="VARCHAR"/>
		<result column="password" property="password" javaType="string" jdbcType="VARCHAR"/>
		<result column="create_date" property="createDate" javaType="date" jdbcType="TIMESTAMP"/>
	</resultMap>


	<select id="selectList" resultMap="sysUserVo" parameterType="string">
		SELECT user_id, username, password, create_date, expire_date
		FROM t_sys_user
		where username = #{username}
	</select>

	<insert id="save" parameterType="sysUser" useGeneratedKeys="true" keyProperty="userId">
		insert into t_sys_user (username, password, create_date, expire_date)
		values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{createDate}, #{expireDate})
	</insert>

	<update id="update">
		update t_sys_user
		set username    = #{username,jdbcType=VARCHAR},
		    password    = #{password,jdbcType=VARCHAR},
		    create_date = #{createDate,jdbcType=TIMESTAMP},
		    expire_date = #{expireDate,jdbcType=TIMESTAMP}
		where user_id = #{userId,jdbcType=BIGINT}
	</update>

	<delete id="delete">
		delete
		from t_sys_user
		where user_id = #{userId}
	</delete>
</mapper>

